
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(../img/agro.jpeg);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}

.farm{
position: absolute;
top: 55%;
left: 47%;
transform: translate(-50%,-50%);
}
.welcome-text{
position: absolute;
top: 75%;
left: 50%;
transform: translate(-50%,-50%);
}
.welcome-text h1{
color: #fff;
font-size: 60px;
}