
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*important*/
}
:root{
    font-size: 62.5%;
}


/* ################## UTILITY CLASSES ################# */
.bg-dark{
    background-color: #263236;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.0rem;
}
.sm-heading{
    font-size: 1.3rem;
}
}
.text-red{
    color: #e63946;
}
.text-white{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}
.text-gray{
    color: #555555;
}
.align-c{
    text-align: center;
}


/*############liginbox##############*/

body{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)) , url(../img/onion.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}
.login-box{
    width: 42.0em;
    height: 50.0em;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 7rem 3rem;
    border-radius: 3%;
    box-shadow: 0px 0px 5px 0px #000000;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 4rem;
    color: #fff;
    font-size: 1.6rem;
}
.login-box input[type="submit"]
{
    border: none;
    outline: none;
    height: 4rem;
    background: #1c8adb;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 2.0rem;
    margin-top: 2em;
}
.login-box input[type="submit"]:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}






























































