<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/farmer_signup_style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="reg-form">
    <div class="regform">
        <h1>
 Registration Form</h1>
</div>
<div class="main">
    
<form method="POST">
<h2 class="name">Phone</h2>
<input class="email" type="text" name="area_code" placeholder="Enter Phone Number" required="required">
<label></label>
<button class="submit" type="button"><a href="merchant_otp.html">verify Phone</a> </button>
        </form>
</div>
</div>
</body>
</html>